html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

* {
  font-family: "Work Sans";
}

#root {
  width: 100%;
  height: 100%;
}

.darkmode {
  --background: rgb(5, 0, 60);
  --primary-color: #e2e2e2;
  --secondary-color: #9b9b9b;
}

.lightmode {
  --background: rgb(233, 233, 233);
  --primary-color: #343a40;
  --secondary-color: #64686d;
}

@font-face {
  font-family: "Work Sans";
  src: local("Work Sans"), url("./assets/fonts/WorkSans-VariableFont_wght.ttf");
}
